<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="st" class="com.training.test.Employee" scope="prototype">  
    <constructor-arg type="int" value="102"></constructor-arg>
    <constructor-arg type="int" value="45"></constructor-arg>
    <constructor-arg type="String" value="raghuk"></constructor-arg>
    <constructor-arg type="String" value="analysyt"></constructor-arg>
    </bean>


</beans>